<h2>Landing Page</h2>

<% if current_user %>
  <h3>Current Users</h3>

  <% @users.each do |user| %>
    <p><%= link_to "#{user.name}", dashboard_path, local: true, method: :get %></p>
  <% end %>
<% end %>
